    .container{
        padding: 80px 120px;
    }
    .person{
        border:10px solid transparent;
    }
    .person:hover{
        border-color:#f1f1f1;
        opacity:0.7;
    }
    .carousel-inner img{
        height:810px !important;
        width:100%;
        margin:auto;
    }
    .title{
        top:42%;
    }
    .bg-grey{
        background:#2d2d30;
        color:#bdbdbd;
    }
    .thumbnail img{
        width:400px;
        height:200px;
    }
    .list-group-item:first-child{
        border-top-right-radius:0;
        border-top-left-radius:0;
    }
    list-group-item:last-child{
        border-bottom-right-radius:0;
        border-bottom-left-radius:0;
    }
    /* Remove border and add padding to thumbnails */
    .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
    }
    .thumbnail p {
        margin-top: 15px;
        color: #555;
    }
    /* Black buttons with extra padding and without rounded borders */
    .btn{
        padding:10px 20px;
        background-color:#333;
        color:#f1f1f1;
        border-radius:0;
        transition: .2s;
    }
    .btn:hover, .btn:focus{
        border:1px solid #333;
        background-color:#fff;
        color:#000;
    }
    /*navbar style*/
    .navbar{
        margin-bottom:0;
        background-color:#2d2d30;
        border:0;
        font-size:11px !important;
        letter-spacing:4px;
    }
    .navbar li a,.navbar .navbar-brand{
        color:#d5d5d5 !important;
    }
    .navbar-nav li a:hover{
        color:#fff !important;
    }
    .navbar-nav li.active a{
        color:#fff !important;
        background-color:#29292c !important;
    }
    .navbar-default .navbar-toggle{
        border-color:transparent;
    }
    .open .dropdown-toggle{
        color:#fff;
        background-color:#555 !important;
    }
    .dropdown-menu li a{
        color:#000 !important;
    }
    .dropdown-menu li a:hover{
        background-color:#d5d5d5 !important;
    }
    .dropdown-menu{
        border-bottom-right-radius:0;
        border-bottom-left-radius:0;
    }
    /*modal style*/
    .modal-header, h4, .close{
        background-color:#333;
        color:#fff !important;
        text-align:center;
        font-size:30px;
    }
    .madal-header, .modal-body{
        padding:40px 50px;
    }
    @media(max-width:600px){
        .carousel-caption{
            display:none;
        }
    }
    @media(max-width:1024px){
        .carousel-inner img{
            height:auto !important;
            width:100%;
            margin:auto;
        }
    }